body.active_admin form {
  textarea.medium-editor-hidden{
    display: none;
  }

  .medium-editor-element {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c9d0d6;
    display: inline-block;
    max-height: 200px;
    min-height: 100px;
    overflow-y: scroll;
    padding: 8px 10px 7px;
    width: calc(80% - 22px);

    // reset internal elements
    * {
      margin: initial;
      padding: initial;
      text-align: initial;
    }

    h1 {
      margin-top: 0.67em;
      margin-bottom: 0.67em;
    }

    h2 {
      margin-top: 0.83em;
      margin-bottom: 0.83em;
    }

    h3 {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    h4 {
      margin-top: 1.33em;
      margin-bottom: 1.33em;
    }

    h5 {
      margin-top: 1.67em;
      margin-bottom: 1.67em;
    }

    h6 {
      margin-top: 2.33em;
      margin-bottom: 2.33em;
    }

    blockquote {
      margin: 1.5em;
    }

    ol {
      list-style-type: decimal;
    }

    p {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    ul {
      list-style-type: disc;
    }

    ul, ol {
      margin: 1em 2em 1em 0;
      padding-left: 2em;
    }
  }

  .medium-editor-element:focus {
    border-color: transparent;
  }

  .medium_editor > label {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
}

button.medium-editor-action {
  border-radius: 0;
}
